<%= bootstrap_form_with(model: film, local: true) do |form| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">


    <%= form.text_field :title %>
    <%= form.text_area :note %>
    <div class="row text-center">
      <div class="col-5 text-center ">
        <%= form.collection_select :genre_id, Genre.all, :id, :name, label: "Select Genre", include_blank: "New Genre Add =>", prompt: "Select Genre"%>
      </div>
        <div id="addgenre" class="col-5 text-center" style="display:none;">
          <%= form.text_field :new_genre_name, label: "Genre Name"%>
        </div>
    </div>
    <div class="row text-center">
      <div class="col-5 text-center ">
        <%= form.collection_select :informant_id, Informant.all, :id, :name, label: "Select Informant", include_blank: "New Informant Add =>", prompt: "Select Informant"%>
      </div>
        <div id="addinformant" class="col-5 text-center" style="display:none;">
          <%= form.text_field :new_informant_name, label: "Informer Name"%>
        </div>
    </div>
    <%= form.submit %>
<% end %>
</div>
<script type="text/javascript">
var genreElement = document.getElementById("film_genre_id");
var informantElement = document.getElementById("film_informant_id");
genreElement.addEventListener("change", function() {
  if( genreElement.value == "")
  {
    document.getElementById("addgenre").style.display = "block";
  }
  else
  {
    document.getElementById("addgenre").style.display = "none";
  }
});
informantElement.addEventListener("change", function() {
  if( informantElement.value == "")
  {
    document.getElementById("addinformant").style.display = "block";
  }
  else
  {
    document.getElementById("addinformant").style.display = "none";
  }
});
</script>
