<p id="notice"><%= notice %></p>


<div class=" col-9 text-center" style="background-color: teal; margin: 3em auto .5em auto; opacity: .9; letter-spacing: 1em; font-family: Futura, sans-serif; font-weight: bold;" >
<h1 >SINEMA-D</h1>
</div>
<div class="container col-9">
    <% @films.each do |film| %>
    <div class="card" style="opacity:.8; margin-bottom: 1em;">
      <div class="card-header">
        <h5><%= film.title %>
          <%= form_tag(watched_path(film), :method => "post") do %>

          <% if film.last_watched.nil? %>
          <span style="float: right">
            <%= button_tag type: "submit", class: "btn btn-lg" do %>
            <i class="fa fa-eye-slash" style="color:red;float: right;"></i>
            <% end %>
            </span>
              <%else%>
              <span style="float: right">
              <%= button_tag type: "submit", class: "btn btn-md" do %>
            <i class="fa fa-eye" style="color:blue;float: right;"><span style="padding-left: .25em;"><%= film.last_watched.strftime("%B %Y") %></span></i>
            <% end %>
            </span>
              <%end%>
            <% end %>
            </h5>
              <span class="badge badge-info"><%= film.genre.name %></span>
              <% film.categories.each do |cat| %>
              <span class="badge badge-pill badge-primary"><%= cat.name %></span>
              <% end %>

      <p>
        <button class="btn btn-sm" style="float: right;"type="button" data-toggle="collapse" data-target="#<%=film.title.gsub(/\s+/, "")+film.id.to_s %>" aria-expanded="false" aria-controls="collapseExample">
          See More...
  </button>
    </p>
      <div class="collapse" id="<%=film.title.gsub(/\s+/, "")+film.id.to_s%>">
        <div >
            <p>NOTE: <%= film.note %></p>
            <div ><h5>INFORMANT: <%= film.informant.name %></h5></div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>


<br>

<%= link_to 'New Film', new_film_path %>
