
<div class="jumbotron text-center">
  <h2 id="notice"><%= notice %>!</h2>
</div>
<div class="container">

<p>
  <strong>Title:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @film.note %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @film.genre.name %>
</p>

<p>
  <strong>Informant:</strong>
  <%= @film.informant.name %>
</p>

<p>
  <strong>Last watched:</strong>
  <%= @film.last_watched %>
</p>

<p>
  Categories:
  <ul>
    <% @film.categories.each do |cat| %>
    <li><%= cat.name %></li>
    <% end %>
  </ul>
<p>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>

</div>
